body {

	background-image: url(../images/bg2.png);
	/*background-color:;*/
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	color:#fff; /*white*/
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	/*height:100vh;*/
}

h1 {

	font-size: 70px;
	margin-bottom: 0;
	background-color: #333; /*off-black*/
	text-transform: uppercase; 
	letter-spacing: 3px;
	color: red;
	font-family: 'Bree Serif', serif;
	width: 600px;
	margin: 0 auto;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	margin-top: 50px;
}

h2 {

	font-size: 40px;
	text-transform: uppercase;
	background-color: rgba(60,51,51, 0.6);
	letter-spacing: 5px;
	color: yellow;
	font-family: 'Ubuntu', sans-serif;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-top: 50px;
}

#me {

	height: 210px;
	width: 210px;
	border-radius: 80%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-top: 110px; 
}

.bio {

	width: 100%;
	font-size: 22px;
	line-height: 1.5;
	background-color: rgba(60,51,51, 0.6);
	color: orange;
	font-family: 'Bree Serif', serif;
	margin-top: 60px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-top: 50px;
}

.container {

	width: 1050px;
	margin: 0 auto;
	text-align: center;

}